/* Estilos para el encabezado */
header {
    background-color: #FF5733; /* Cambia el color de fondo del encabezado a rojo */
    color: white;
    padding: 20px;
    text-align: center;
}

/* Estilos para la barra de navegación */
nav {
    background-color: #333;
    text-align: center;
    position: relative;
    overflow: hidden; /* Oculta el desbordamiento */
    border-radius: 10px; /* Agrega bordes redondeados */
    margin: 20px auto; /* Centra la barra de navegación */
    max-width: 800px; /* Limita el ancho de la barra de navegación */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Agrega una sombra sutil */
}

nav a {
    color: #f9f9f9; /* Cambia el color del texto */
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 10px; /* Agrega bordes redondeados */
    transition: transform 0.3s, background-color 0.3s;
    position: relative;
    z-index: 1;
    display: inline-block; /* Cambia a visualización en línea para que la transición funcione correctamente */
}

nav a:hover {
    background-color: #FF5733; /* Cambia el color de fondo al pasar el cursor */
    transform: translateY(-3px); /* Mueve ligeramente hacia arriba cuando se pasa el cursor */
}

.active {
    background-color: #FF5733; /* Cambia el color de fondo del enlace activo */
}

.bar {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    background-color: #FF5733; /* Cambia el color de la barra a rojo */
    transition: width 0.3s, left 0.3s;
    z-index: 0;
    border-radius: 0 0 10px 10px; /* Agrega bordes redondeados solo en la parte inferior */
}

/* Animación para la barra */
nav:hover .bar {
    width: 100%;
    left: 0;
}

/* Estilos para la sección del nombre */
#nombre {
    background: linear-gradient(to right, #FFD700, #FF8C00); /* Agrega un fondo degradado */
    color: #333; /* Cambia el color del texto */
    padding: 20px;
    text-align: center;
    font-size: 24px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Agrega un efecto de texto en relieve */
}
